<ul class="nav navbar-nav navbar-right">
	<li class="dropdown">
		<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			{{board.name}}
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a ui-sref="team({teamId: team.id})">
					<i class="fa fa-users"></i>
					Team <strong>{{team.name}}</strong>
				</a>
			</li>
			<li role="separator" class="divider"></li>
			<li ng-show="!board.public">
				<a href="" ng-click="makeItPublic()">
					<i class="fa fa-share-alt"></i>
					Make it public
				</a>
			</li>
			<li ng-show="board.public">
				<a href="" ng-click="makeItAnonymous()">
					<i class="fa fa-user-secret"></i>
					Make it private
				</a>
			</li>
			<li>
				<a href="" ng-click="openRenameModal()">
					<i class="fa fa-pencil"></i>
					Rename
				</a>
			</li>
			<li>
				<a href="" ng-click="openRemoveModal()">
					<i class="fa fa-trash"></i>
					Delete
				</a>
			</li>
		</ul>
	</li>
</ul>
