<div class="modal-header">
	<h4 class="modal-title">
		Task details
	</h4>

</div>

<div class="modal-body">

	<form class="form-horizontal">

		<div class="form-group">
			<label for="taskTitle" class="col-sm-2">Title</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="taskTitle" ng-model="title" ng-blur="save()" />
			</div>
		</div>

	</form>

	<div ng-repeat="comment in comments">
		<strong>{{comment.username}}</strong>
		{{comment.text}}
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<textarea class="form-control" placeholder="Write a comment..." rows="1"></textarea>
			<button class="btn btn-sm btn-success" ng-click="addComment()">
				Add comment
			</button>
		</div>
	</div>

</div>

<div class="modal-footer">
	<div class="row">

		<div class="col-xs-6 text-left">
			<button class="btn btn-danger btn-flat" title="Delete task" ng-click="remove()">
				<i class="mdi-action-delete"></i>
			</button>
		</div>

		<div class="col-xs-6 text-right">
			<button class="btn btn-material-blue" type="button" ng-click="$dismiss()">
				<i class="fa fa-times"></i>
				Close
			</button>
		</div>

	</div>

</div>
