.board {
	align-items: flex-start;
	display: flex;
}

.list {
	display: inline-block;
	margin-right: 20px;
	width: 270px;
}

.task {
	background-color: white;
	border: 1px solid #ccc;
	margin-top: 10px;

	div {
		padding: 5px;
	}
}

.as-sortable-placeholder {
	background-color: #ddd;
	margin-top: 10px;
}

.task-wrapper {
	min-height: 25px;
}

.edit-icon {
	color: #999;
	cursor: pointer;
	display: none !important;

	&:hover {
		color: black;
	}
}

.editable:hover .edit-icon {
	display: inline-block !important;
}

.file-drop-zone {
	border: 3px dashed #ccc;
	border-radius: 3px;
	padding: 11px;
	text-align: center;

	&-drag-over {
		border: 3px dashed black;
	}
}
