<h3>Team <strong>{{team.name}}</strong></h3>

<div ng-show="team.members.length === 0" class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="alert alert-info text-center">
			There are no members
		</div>
	</div>
</div>

<div class="list-group">
	<div class="list-group-item" ng-repeat-start="member in team.members">
		<div class="row-action-primary">
			<i class="fa fa-user"></i>
		</div>
		<div>
			<p class="list-group-item-text">
				<strong>{{member.login}}</strong>
			</p>

			<button class="btn btn-danger btn-fab btn-fab-mini pull-right" ng-click="removeMember(member)">
				<i class="fa fa-times"></i>
			</button>
		</div>
	</div>
	<div class="list-group-separator" ng-repeat-end></div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-xs-8">
			<input type="text"
				   class="form-control"
				   ng-model="newMember"
				   uib-typeahead="user as user.login for user in users | filter:$viewValue"
				   typeahead-editable="false"
				   typeahead-no-results="noUsers"
				   typeahead-select-on-blur="true"/>
			<p ng-show="noUsers" class="text-danger">
				There are no users with given login
			</p>
		</div>
		<div class="col-xs-4">
			<button class="btn btn-success btn-raised btn-no-margin ripple-effect hidden-xs pull-right"
					title="Add new member"
					ng-click="addMember()"
					ng-disabled="!newMember || noUsers">
				Add
			</button>
		</div>
	</div>
</div>
