#dashboard-boards-list {

	.board {
		background-color: #03A9F4;
		color: white;
		margin-bottom: 10px;
		padding: 5px;
		padding-right: 0;
		transition: 0.2s ease;

		&:hover {
			box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}

		& .panel-body {
			width: 100%;
		}
	}

}

.team {
	background-color: #009688;
	color: white;
	margin-bottom: 10px;
	padding: 5px;
	padding-right: 0;
	transition: 0.2s ease;

	&:hover {
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	& .panel-body {
		width: 100%;
	}
}
