<div class="modal-header">
	<h4 class="modal-title">
		Rename list <strong>{{list.name}}</strong>
	</h4>
</div>

<div class="modal-body">

	<form name="renameListForm" class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2">
				New name
				<span class="text-danger">*</span>
			</label>
			<div class="col-sm-10">
				<input type="text"
					   name="name"
					   ng-model="name"
					   class="form-control"
					   ng-minlength="3"
					   ng-maxlength="100"
					   required />

				<p class="text-danger" ng-show="renameListForm.name.$dirty && renameListForm.name.$error.required">
					List name is required
				</p>
				<p class="text-danger" ng-show="renameListForm.name.$dirty && renameListForm.name.$error.minlength">
					List name too short. It should have at least 3 characters
				</p>
				<p class="text-danger" ng-show="renameListForm.name.$dirty && renameListForm.name.$error.maxlength">
					List name too long. It can have max 100 characters
				</p>
				<p class="text-danger" ng-show="renameListForm.name.$dirty && name === list.name">
					List has already that name
				</p>
			</div>
		</div>
	</form>

</div>

<div class="modal-footer">

	<button class="btn btn-success" type="button" ng-click="rename()" ng-disabled="renameListForm.$invalid || name === list.name">
		<i class="fa fa-check"></i>
		Rename
	</button>

	<button class="btn btn-primary" type="button" ng-click="$dismiss()">
		<i class="fa fa-times"></i>
		Cancel
	</button>
</div>
