<div class="modal-header">
	<h4 class="modal-title">
		Create new list
	</h4>
</div>

<div class="modal-body">

	<form name="newListForm" class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2">
				List name
				<span class="text-danger">*</span>
			</label>
			<div class="col-sm-10">
				<input type="text"
					   name="name"
					   ng-model="name"
					   class="form-control"
					   ng-minlength="2"
					   ng-maxlength="100"
					   required />

				<p class="text-danger" ng-show="newListForm.name.$dirty && newListForm.name.$error.required">
					List name is required
				</p>
				<p class="text-danger" ng-show="newListForm.name.$dirty && newListForm.name.$error.minlength">
					List name too short. It should have at least 2 characters
				</p>
				<p class="text-danger" ng-show="newListForm.name.$dirty && newListForm.name.$error.maxlength">
					List name too long. It can have max 100 characters
				</p>
			</div>
		</div>
	</form>

</div>

<div class="modal-footer">

	<button class="btn btn-success" type="button" ng-click="create()" ng-disabled="newListForm.$invalid">
		<i class="fa fa-check"></i>
		Create
	</button>

	<button class="btn btn-primary" type="button" ng-click="$dismiss()">
		<i class="fa fa-times"></i>
		Cancel
	</button>
</div>
